@{
    ViewBag.Title = "Създаване на поръчка";
}
<h3>@ViewBag.Title</h3>
@model MvcTemplate.Web.ViewModels.Orders.OrderCreateViewModel

@using (Html.BeginForm("CreateOrder", "Orders", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.ClientName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.ClientId, (IEnumerable<SelectListItem>)ViewBag.Clients, "Избиране на клиент", new { @class = "form-control" })
        </div>
    </div>
    
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x=>x.Deadline)
    @Html.DisplayFor(x => x.OrderPrice)
    @Html.DisplayFor(x => x.PaidInAdvance)
    @Html.DisplayFor(x => x.BillInCash)
    @Html.DisplayFor(x => x.Receipt)
    @Html.DisplayFor(x => x.PaidWithCard)
    @Html.DisplayFor(x => x.Econt)
    @Html.DisplayFor(x => x.PaidInCashWithoutReceipt)
    @Html.DisplayFor(x => x.PaidBankTransaction)
    @Html.DisplayFor(x => x.LeftToBePaid)
    @Html.DisplayFor(x => x.PaidAt)
    @Html.DisplayFor(x => x.DateOfComplition)
    @Html.DisplayFor(x => x.Bonuses)
    @Html.Partial("_CreateButtonPartial")
    
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}


