<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeaderPartial")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/KendoUI/kendo")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/KendoUI/kendo")
</head>
<body>
    @Html.Partial("_NavigatianPartial")
<div class="container body-content">
    @Html.Partial("_NotificationPartial")
    @RenderBody()
    @Html.Partial("_FooterPartial")
</div>
    @section customScripts{
        <script src='https://www.google.com/recaptcha/api.js'></script>
    }
    @RenderSection("scripts", false)
    @RenderSection("customScripts", required: false)
    
</body>
</html>
