<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeaderPartial")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/KendoUI/kendo")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/KendoUI/kendo")
</head>
<body>
    @Html.Partial("_NavigatianPartial")
    <div class="container body-content">
        @Html.Partial("_NotificationPartial")
        @RenderBody()
        @Html.Partial("_FooterPartial")
    </div>
    @RenderSection("scripts", false)
    @RenderSection("customScripts", required: false)
</body>
</html>
