@model OredersTracker.Web.Areas.Administration.ViewModels.IncomeViewModel
@{
    ICollection<SelectListItem> months = new List<SelectListItem>();
    for (var i = 1; i <= 12; i++)
    {
        var month = new SelectListItem { Text = i.ToString(), Value = i.ToString() };
        months.Add(month);
    }
}
@using (Html.BeginForm("Search", null,null,FormMethod.Post, new { @class = "form form-inline" }))
{
    <div clas="form-group">
        @Html.Label("Стойност за поръчки за месец:")
        <br/>
        @Html.DropDownList("query", months, new { @class = "form-control" })
        <input type="submit" class="btn btn-info"/>
    </div>
}
<br/>
<div id="results"><b>Общо за избрания месец : @Model.TotalForMonth</b>
</div>
<div id="resultsEmployees">
    <b>Корнелия : @Model.TotalForKornelia</b><br/>
    <b>Митко : @Model.TotalForMitko</b><br/>
    <b>Никола : @Model.TotalForNikola</b><br/>
    <b>Стайко : @Model.TotalForStaiko</b><br/>
</div>